<main>
    {% include "components/home/first.njk"%}
    {% include "components/home/whyHolo.njk" %}
    {% include "components/home/thirdCard.njk" %}
    {% include "components/home/steps.njk" %}
</main>