<main>
    {% include "components/home/first.njk"%}
    {% include "components/home/whyHolo.njk" %}
    {% set trustText = collections.texts.trustText %}
    {% include "components/home/thirdCard.njk" %} 
</main>