<footer>
    <div class="column">
        <img class="footerlogo" src="../../images/hologoWhite.svg"></img>
        <ul class="column blueBackground">
            <li>
                <a class="whiteText " href="#">Our blog <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Dev Portal <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Contact Us <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Holo <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
        </ul>
        <div class="row">
            <a  href="#"><div><i class="whiteIcon fab fa-github"></i></div></a>
            <a class="textBlack" href="#"><div><img class="navIcon" src="../../images/forumWhite.svg"></img></div></a>
            <a  href="#"><div><i class="whiteIcon fab fa-youtube"></i></div></a>
            <a  href="#"><div><i class="whiteIcon fab fa-twitter"></i></div></a>
        </div>
        <p class="whiteText" style="padding-top:6rem;"><a href="#">Privacy Policy</a> <span style="margin: 0 0.5rem;">|</span> <a href="#">Terms of Use</a></p>
    </div>
    <div class="leftText">
        <h4 class="paddingBot">Develop</h4>
        <ul class="column blueBackground">
            <li>
                <a class="whiteText " href="#">Install Holochain <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Core Concepts <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Glossary <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">GitHub <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
        </ul>
    </div>
    <div class="leftText">
        <h4 class="paddingBot">What it Can Do</h4>
        <ul class="column blueBackground">
            <li>
                <a class="whiteText " href="#">Energy</a>
            </li>
            <li>
                <a class="whiteText " href="#">Currencies</a>
            </li>
            <li>
                <a class="whiteText " href="#">Social Impact</a>
            </li>
            <li>
                <a class="whiteText " href="#">Local Economies</a>
            </li>
        </ul>
    </div>
    <div class="leftText">
        <h4 class="paddingBot">Engage</h4>
        <ul class="column blueBackground">
            <li>
                <a class="whiteText " href="#">Learn</a>
            </li>
            <li>
                <a class="whiteText " href="#">Build</a>
            </li>
            <li>
                <a class="whiteText " href="#">Connect <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Events <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Community</a>
            </li>
            <li>
                <a class="whiteText " href="#">Forum<span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Tutorials</a>
            </li>
        </ul>
    </div>
    <div class="leftText">
        <h4 class="paddingBot">About</h4>
        <ul class="column blueBackground">
            <li>
                <a class="whiteText " href="#">Our Team</a>
            </li>
            <li>
                <a class="whiteText " href="#">Our Story</a>
            </li>
            <li>
                <a class="whiteText " href="#">Cryptographic Autonomy License</a>
            </li>
            <li>
                <a class="whiteText " href="#">Holochain Foundation <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></a>
            </li>
            <li>
                <a class="whiteText " href="#">Join Our Team</a>
            </li>
        </ul>
    </div>
</footer>