<nav id="navbar" class="navColor">
            <a href="#" class="brand-logo"><img class="logo" src="../../images/holochainLogo.png"></img></a>
            <ul class="right navColor">
                <li><a id="whatIsHolo" class="textBlack" href="#"><div>WHAT IS HOLOCHAIN</div></a>
                    <div id="whatIsBox" class="box2 whatIsPeck">
                        <ul class="boxList">
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Why Holochain</p>
                                    <p class="smallerText">Start here</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">How it Works</p>
                                    <p class="smallerText">How Holochain is used</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a id="solutions" class="textBlack" href="#"><div>SOLUTIONS</div></a>
                    <div id="solutionsBox" class="box2 whatIsPeck">
                        <ul class="boxList">
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Projects</p>
                                    <p class="smallerText">Who uses Holochain</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Use Cases</p>
                                    <p class="smallerText">How Holochain is used</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a id="community" class="textBlack" href="#"><div>COMMUNITY</div></a>
                    <div id="communityBox" class="box2 communityPeck">
                        <ul class="boxList">
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Get Involved</p>
                                    <p class="smallerText">Discussion forums and code</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Global Events</p>
                                    <p class="smallerText">Worldwide community events</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Learn</p>
                                    <p class="smallerText">Tutorials and technical resources</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Get Help</p>
                                    <p class="smallerText">Bug reports and best practices</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Stay Informed</p>
                                    <p class="smallerText">Blog, annoucements, and social media</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a id="about" class="textBlack" href="#"><div>ABOUT</div></a>
                    <div id="aboutBox" class="box2 aboutPeck">
                        <ul class="boxList">
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Holochain Foundation</p>
                                    <p class="smallerText">Explore Holochains approach</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Team</p>
                                    <p class="smallerText">Meet the humans</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Holo</p>
                                    <p class="smallerText">A P2P distributed platform for hosting</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">CAL</p>
                                    <p class="smallerText">Open Source license</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Press</p>
                                    <p class="smallerText">Resources for media coverage</p>
                                </a>
                            </li>
                            <li class="liPadding">
                                <a href="#" class="textBlack">
                                    <p class="textHeavy marginBottom">Contact</p>
                                    <p class="smallerText">Get in touch with us</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li><a href="#"><div class="textPurple">DEV PORTAL <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></div></a></li>
                <li><a href="#"><div class="textPurple">BLOG <span style="position: relative; top: -0.1rem;"><i class="fas fa-external-link-alt fa-sm"></i></span></div></a></li>
                <li><a class="textBlack" href="#"><div><i class="fab fa-github"></i></div></a></li>
                <li><a class="textBlack" href="#"><div><img class="navIcon" src="../../images/Vector.svg"></img></div></a></li>
            </ul>
            
        </nav>