<div class="imageBackground">
    <div class="homeColumn">
        <h2 class="homeTitle">An end-to-end open source P2P app framework</h2>
        <div class="cardHome1">
            <ul class="row">
                <li id="T&S" class="cardTitle">
                    Trust & Security
                </li>
                <li id="BB" class="cardTitle titleActive">
                    Beyond Blockchain
                </li>
            </ul>
            <hr/>
            <div id="texDisappear" class="paddingText">
            {% if texts-home %}
               Holochain delivers tech promises of blockchain with a mashup proven tech
            {% endif %}
           </div>
            <a href="#" class="buttonFirstCard">
                Get Started with Holochain
            </a>
        </div>
    </div>
    <hr class="lessWidth"/>
</div>