<div class="thirdRow">
    <div>
        <div class="polyContainer">   
        <img class="PolygonPurple"  src="../../images/PolygonPur.svg"></img>
        <img class="PolygonBlue" src="../../images/PolygonBlue.svg"></img>
        </div>
        <div class="thirdCard">
        Lightweight, secure, versatile: made for everyday apps
        </div> 
    </div>
    <div>
    <div class="polyContainer">   
        <img class="PolygonGreen"  src="../../images/PolygonGreen.svg"></img>
        <img class="PolygonLightGreen" src="../../images/PolygonLightGreen.svg"></img>
        </div>
        <div class="thirdCard">
        BitTorrent + Git + Cryptographic Signatures
        </div>
    </div>
    </div>
<hr class="lessWidth"/>