<div class="secondSection">
    <h2 class="secondTitle">Why Holochain? </h2>
    <h4 class="secondSubtitle">Because the world needs a reboot</h4>
    <p class="secondAbout">It will take all of us working together -- thinkers, builders, and users. Holochain can help us get there by upholding peoples's agency and ensuring access to the information they need -- a sharp change from the dominant technological systems. Only when everyone can participate fully freely and ntelligently in their own worlds can we adeptly face today's interdependent, complex problems.</p>
    <p class="aboutLink"><a href="#">About <i class='fas fa-arrow-right'></i></a></p>
</div>
<hr class="lessWidth"/>
