<html>
    {% include "components/_head.njk" %}

    <body>
        {% include "components/_navbar.njk" %}
        
        
                    
        {{ content | safe }}
        
        {% include "components/_footer.njk" %}
        
        {% set js %}
            {% include "js/navbar.js" %}
        {% endset %}
    <script>{{ js | safe }}</script>
    </body>
</html>